[submodule "kissat"]
	path = kissat
	url = https://github.com/arminbiere/kissat.git
[submodule "cadical"]
	path = cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "apgmera"]
	path = apgmera
	url = https://gitlab.com/apgoucher/apgmera.git
[submodule "kissat_extras"]
	path = kissat_extras
	url = https://github.com/jix/kissat_extras.git
